<nav class="nav nav--primary nav--horizontal">
	<ul>
		<li class="has-nested"><%= link_to 'About', '/about/' %>
			<ul class="nav nav--nested">
				<li><%= link_to 'Press', '/press/' %></li>
				<li><%= link_to 'FAQ', '/faq/' %></li>
			</ul>
		</li>
		<li><%= link_to 'Blog', '/blog/' %></li>
		<li><%= link_to 'Application Guide', '/students/application-guide/' %></li>
	</ul>
</nav>