<h3>See also</h3>
<ul>
	<li><%= link_to 'Students', '/students' %></li>
	<li><%= link_to 'Things to do', '/students/things-to-do' %></li>
	<li><%= link_to 'Team Log', '/students/team-log' %></li>
	<li><%= link_to 'Tools', '/students/tools' %></li>
	<li><%= link_to 'Conferences', '/students/conferences' %></li>
	<li><%= link_to 'Students FAQ', '/faq/student-faq' %></li>
</ul>